<div *ngIf="stories">
  <div class="card">
    <a href="{{stories[currentStoryNumber]?.url}}"><h4 class="title">{{stories[currentStoryNumber]?.title}}</h4></a>
    <p>Source: {{stories[currentStoryNumber]?.source}} </p>
    <p>{{stories[currentStoryNumber]?.excerpt}} </p>

    <div class="row">
      <div class="col-md-4">
        <button (click)="deleteComponent()" class="btn btn-danger" type="submit">Delete</button>
       </div>
       <div class="col-md-4">
         <button (click)="previousArticle()" class="btn btn-primary" type="submit">Previous</button>
       </div>
      <div class="col-md-4">
        <button (click)="nextArticle()" class="btn btn-primary" type="submit">Next</button>
      </div>
    </div>
  </div>
</div>
