<h1>Make new News Viewer Module</h1>
<div class="row">
  <h4>{{errorMessage}}</h4>
  <div class="col-md-9">

    <div class="row checkboxes">
      <div class="checkform" *ngFor="let category of categories">
        <input type="checkbox" (change)="onCheck(categoryQueryArray, category.apiTerm, $event.target.checked)">
        <label>{{category.name}}</label>
      </div>
    </div>
    <select (change)="onCategoryChange($event.target.value)">
      <option value="all">all</option>
      <option *ngFor="let category of categories" value="{{category.name}}"  >{{category.name}}</option>
    </select>
    <div class="row checkboxes">
      <div class="checkform" *ngFor="let source of sources | category:filterByCategory">
        <input type="checkbox" (change)="onCheck(sourceUris, source.uri, $event.target.checked)">
        <label>{{source.name}}</label>
      </div>
    </div>

    <button (click)="submitQuery()" type="button" name="button">Create</button>
  </div>
  <div class="col-md-3">
    <div class="keywordInput">
      <h4>Key words</h4>
      <ul>
        <li *ngFor="let keyword of keywords">{{keyword}}</li>
      </ul>
      <input #newKeyword>
      <button class="btn"(click)="addKeyword(newKeyword.value)" type="button" name="button">Add Keyword</button>
    </div>
  </div>
</div>
<!-- <ul>
<li *ngFor="let source of childSourceList | completeness:filterByCategory">{{source.name}}</li>
</ul> -->
