<h1>Make new News Viewer Module</h1>
<select (change)="onCategoryChange($event.target.value)">
    <option *ngFor="let category of categories" value="{{category}}"  >{{category}}</option>
</select>


<div *ngFor="let source of sources | category:filterByCategory">
  <input type="checkbox" (change)="onCheck(source, $event.target.checked)"> {{source.name}}<br>
</div>

<button (click)="getSelectedSources()" type="button" name="button"></button>
<!-- <ul>
<li *ngFor="let source of childSourceList | completeness:filterByCategory">{{source.name}}</li>
</ul> -->
